.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

node_modules

# Zero-installs
#!.yarn/cache
.pnp.*

# JDK modules
/tools/jdk/lib/modules

# Environment variables
.env
.env.*
!.env.example