# =========================================================
# KHÔNG UP NODE_MODULES
# =========================================================

**/node_modules/


# =========================================================
# KHÔNG UP FILE .ENV
# =========================================================

**/.env